.mainLogement {
    position: relative;
    height: 1240px;
    display: flex;
    justify-content: flex-start;
}

.firstLine_secondLine {
    display: flex;
    justify-content: space-between;
}

.firstLine {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 27px;
}

.title_settings h1 {
    /**border: 2px solid red;**/
    margin: 0px;
    font-family: $primaryFont;
    font-weight: 500;
    font-size: 36px;
    color: $colorLink;
    line-height: 150%;


}

h2 {
    margin: 0px;
    font-family: $primaryFont;
    font-weight: 500;
    font-size: 18px;
    color: $colorLink;
}



.profile_settings {
    width: 167px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    h3 {
        margin: 0px;
        font-size: 18px;
        font-family: $primaryFont;
        font-weight: 500;
        color: $colorLink;
    }

    img {
        border-radius: 50%;
        height: 100%;
    }
}

.secondLine {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
}

.tag_content {
    display: flex;
    margin-top: 20px;
}

.tag {
    width: auto;
    height: 25px;
    background-color: $colorLink;
    color: white;
    font-family: $primaryFont;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    margin-right: 10px;

    padding-left: 20px;
    padding-right: 20px;

}

.rating {
    display: flex;
    font-size: 25px;
}

.stars_settings {
    margin-left: 10px;
    color: $colorLink;
}

.starEmpty {
    color: #E3E3E3;
}

.thirdLine {
    display: flex;
    justify-content: space-between;
}

.collapse_logement {
    width: 580px;
}

@media screen and (min-width:279px) and (max-width: 1439px) {

    .mainLogement {
        height: auto;
        width: 100%;
    }

    .firstLine_secondLine {
        display: flex;
        flex-direction: column;
    }

    .firstLine {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0px;
    }

    .secondLine {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 0px;

        .profile_settings {
            height: 32px;
            width: 135.5px;
            justify-content: flex-end;

            h3 {
                font-size: 12px;
                margin-right: 10px;
            }
        }
    }

    .thirdLine {
        flex-direction: column;

        .collapse_logement {
            width: auto;

            .collapse_title {

                p {
                    font-size: 13px;
                }

                .collapsed,
                .expanded {
                    font-size: 15px;
                }
            }

            .collapse_content.expanded {
                font-size: 12px;
            }
        }
    }

    .title_settings {
        margin-bottom: 10px;

        h1 {
            font-size: 18px;
        }

    }

    h2 {
        font-size: 12px;
    }


    .tag_content {
        margin: 0px;
        flex-wrap: wrap;

        .tag {
            height: 18px;
            font-size: 10px;
            margin-bottom: 10px;
        }
    }

    .rating {
        width: 98px;

        .stars_settings {
            margin-left: 6.59px;
            font-size: 12px;
        }
    }

    .footerLogement {
        bottom: auto;
    }
}